<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:link.action pageUid="1"
                   arguments="{page:'{args.page}', filter:'{args.filter}', limit: {0: args.limit}, sortBy:'{property}', sortOrder: {0: '{f:translate(key: \'tx_cardealer_pi1_label.{args.sortOrder}.toggle\')}'}}"
                    title="Klicken um {f:translate(key: 'tx_cardealer_pi1_label.{args.sortOrder}.title')} nach {f:translate(key: 'tx_cardealer_domain_model_{property}')} zu sortieren">
        <f:format.raw><f:translate key="tx_cardealer_pi1_label.{args.sortOrder}" /></f:format.raw>
    </f:link.action>
</html>