<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />
	<f:section name="content">

		<f:flashMessages />

        <div class="tx-cardealer-filter">
            <button class="btn btn-primary btn-block toggle-filter">Filter</button>
            <f:form class="default-search d-none d-lg-block d-xl-block" name="filter" method="post" addQueryString="1" addQueryStringMethod="GET" >

                <f:link.action class="btn btn-danger ajaxLink reset" pageUid="{settings.pid.list}"
                               controller="Standard"
                               action="list"
                               arguments="{page: '1', sortBy: 'price', sortOrder: 'ASC', limit: '{settings.list_limit}', identifier:'reset'}">
                    <span class="glyphicon glyphicon-remove"></span>
                    <f:translate key="tx_cardealer_pi1_filter.reset" />
                </f:link.action>
                <f:render partial="Filter/Sorting" arguments="{args:args}" />

                <!-- Formfields -->
                <f:for each="{fields}" as="items" key="property">
                    <f:render partial="Filter/{items.partialName}" arguments="{args:args, items:'{items}', property:'{property}'}" />
                </f:for>

                <br />
                <select name="tx_cardealer_pi1[limit]" class="limit form-control input-sm sorting ajax-filter">
                    <option value="{settings.list_limit}" {f:if(condition: '{args.limit} == {settings.list_limit}', then: 'selected')}>{settings.list_limit}</option>
                    <option value="20" {f:if(condition: '{args.limit} == 20', then: 'selected')}>20</option>
                    <option value="50" {f:if(condition: '{args.limit} == 50', then: 'selected')}>50</option>
                </select>
                <f:translate key="tx_cardealer_pi1_filter.limitperpage.title" />
            </f:form>
        </div>

	</f:section>

</html>