<html data-namespace-typo3-fluid="true" xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
{namespace custom=EXOTEC\Cardealer\ViewHelpers}

<f:layout name="Default"/>

<f:section name="content">

    <f:flashMessages/>

    <div class="bar details"></div>

    <div class="container" id="carDetails">
        <div class="row">
            <div class="col-md-12">
                <h2 class="model_description">
                    <f:if condition="{args.page}">
                        <f:then>
                            <f:link.action action="list"
                                           arguments="{page:'{args.page}', sortBy:'{args.sortBy}', sortOrder: '{args.sortOrder}', limit: '{args.limit}', identifier:'{identifier}'}"
                                           class="backlink pull-right btn btn-danger"
                                           controller="Standard"
                                           pageUid="{settings.pid.list}">
                                <span class="material-icon">
                                    <f:render arguments="{width: '30', height: '30', color: 'white'}"
                                              partial="Svg/Close"/>
                                </span>
                                <!--                                <f:translate key="tx_cardealer_pi1_show.back.label"/>-->
                            </f:link.action>
                        </f:then>
                        <f:else>
                            <f:link.action action="list"
                                           arguments="{page: '1', sortBy: 'price', sortOrder: 'ASC', limit: '10', identifier:'4035eff091a9897f0d3a25e6'}"
                                           class="backlink pull-right btn btn-danger"
                                           controller="Standard"
                                           pageUid="{settings.pid.list}">
                                <span class="material-icon">
                                    <f:render arguments="{width: '30', height: '30', color: 'white'}"
                                              partial="Svg/Close"/>
                                </span>
                                <!--                                <f:translate key="tx_cardealer_pi1_show.back.label"/>-->
                            </f:link.action>

                        </f:else>
                    </f:if>
                    <f:for as="value" each="{car.make}" iteration="_iter">
                        <f:if condition="{_iter.isFirst}">
                            <f:format.raw>{value.title}</f:format.raw>
                        </f:if>
                    </f:for>
                    <f:format.raw>{car.modelDescription}</f:format.raw>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="flexslider" id="slider">
                    <ul class="slides">
                        <v:iterator.explode content="{car.imagesAsCsv}" glue="," as="images">
                            <f:for as="image" each="{images}">
                                <li>
                                    <f:if condition="{image}">
                                        <f:then>
                                            <img src="/uploads/tx_cardealer/{image}" width="500" />
                                        </f:then>
                                        <f:else>
                                            <f:render partial="Svg/NoImageFound" arguments="{fill: '#ccc', width:'500'}" />
                                        </f:else>
                                    </f:if>
                                </li>
                            </f:for>
                        </v:iterator.explode>
                    </ul>
                </div>
                <div class="flexslider" id="carousel">
                    <ul class="slides">
                        <v:iterator.explode content="{car.imagesAsCsv}" glue="," as="images">
                            <f:for as="image" each="{images}">
                                <li>
                                    <f:if condition="{image}">
                                        <f:then>
                                            <img src="/uploads/tx_cardealer/{image}" width="95" />
                                        </f:then>
                                        <f:else>
                                            <f:render partial="Svg/NoImageFound" arguments="{fill: '#ccc', width:'95'}" />
                                        </f:else>
                                    </f:if>
                                </li>
                            </f:for>
                        </v:iterator.explode>
                    </ul>
                </div>
            </div>


            <div class="col-md-3">
                <f:for as="value" each="{car.category}" iteration="_iter">
                    <f:if condition="{_iter.isFirst}">
                        <f:format.raw><strong>{value.title}</strong><br/></f:format.raw>
                    </f:if>
                </f:for>
                <f:for as="value" each="{car.carCondition}" iteration="_iter">
                    <f:if condition="{_iter.isFirst}">
                        <f:format.raw><strong>{value.title}</strong><br/></f:format.raw>
                    </f:if>
                </f:for>
                {car.location}<br/>
                <f:for as="value" each="{car.countyVersion}" iteration="_iter">
                    <f:if condition="{_iter.isFirst}">
                        <f:format.raw><strong>{value.title}</strong><br/></f:format.raw>
                    </f:if>
                </f:for>

                <f:translate key="tx_cardealer_domain_model_car.delivery_date" />:
                <f:format.date format="m/Y">{car.deliveryDate}</f:format.date>
                <br/>
                <f:translate key="tx_cardealer_pi1_list.label.first_registration.abr" />:
                <f:format.date format="m/Y">{car.firstRegistration}</f:format.date>
                <br/>
                <f:format.number decimalSeparator="," decimals="0" thousandsSeparator=".">{car.mileage}
                </f:format.number>
                km<br/>
                <f:for as="value" each="{car.fuel}" iteration="_iter">
                    <f:if condition="{_iter.isFirst}">
                        <f:format.raw>{value.title}<br/></f:format.raw>
                    </f:if>
                </f:for>
                {car.power} kW (
                <f:format.number decimalSeparator="." decimals="0" thousandsSeparator=",">
                    <f:cObject data="{car.power} / 0.735"
                               typoscriptObjectPath="plugin.tx_cardealer_pi1.lib.math"></f:cObject>
                </f:format.number>
                <f:translate key="tx_cardealer_domain_model_car.power.abr" />)<br/>
                <f:for as="value" each="{car.gearbox}" iteration="_iter">
                    <f:if condition="{_iter.isFirst}">
                        <f:format.raw>{value.title}<br/></f:format.raw>
                    </f:if>
                </f:for>
                <br/>
                <f:format.raw>
                    <f:translate
                            key="tx_cardealer_domain_model_car.damage.{car.damageunrepaired}.{car.accidentdamaged}.{car.roadworthy}"/>
                </f:format.raw>

                <br/>

                <f:if condition="{settings.showOpelCertImage} != 1">
                    <f:format.raw>
                        <custom:certimage addCondition="{car.carcondition.title}"
                                          addFirstRegistration="{car.firstRegistration}" addMileage="{car.mileage}"/>
                    </f:format.raw>
                </f:if>
            </div>
            <div class="col-md-3 align-right">
                <f:format.raw>
                    <custom:newcar value='{car.creationDate}'/>
                </f:format.raw>
                <h4 class="price">
                    &euro;
                    <f:format.number decimalSeparator="," decimals="0"
                                     thousandsSeparator=".">{car.price}
                    </f:format.number>
                </h4>
                <i class="text-muted mwst">
                    <f:translate key="tx_cardealer_pi1_list.label.vatable.{car.vatable}" />
                </i>

                <div class="buttons">
                    <a class="d-none d-sm-block d-md-none btn btn-md btn-success" href="tel:{car.phone}" id="callNow">
                        <span class="material-icon">
                            <f:render arguments="{width: '24', height: '24', color: 'white'}"
                                      partial="Svg/Phone"/>
                        </span>
                        <f:translate key="tx_cardealer_pi1_show.label.call" />
                    </a>
                    <a class="showForm btn btn-md btn-primary" href="#modal-request-form" id="tx-cardealer-requestform" target="_blank">
                        <span class="material-icon">
                            <f:render arguments="{width: '24', height: '24', color: 'white'}"
                                      partial="Svg/Mail"/>
                        </span>
                        <f:translate key="tx_cardealer_pi1_show.label.request" />
                    </a>

                    <f:link.action action="show" arguments="{car : '{car.uid}', make: '{car.make.uid}'}"
                                   class="d-block d-sm-none d-md-block printLink half-width btn btn-md btn-default"
                                   format="print" pageType="98" pageUid="{settings.pid.details}" target="_blank">
                        <span class="material-icon">
                            <f:render arguments="{width: '24', height: '24', color: '#2b2b2b'}"
                                      partial="Svg/Print"/>
                        </span>
                        <f:translate key="tx_cardealer_pi1_show.label.print" />
                    </f:link.action>

                    <i class="text-muted carNumber"><em><f:translate key="tx_cardealer_domain_model_car.addKey" />: {car.uid}</em></i>
                    <f:if condition="{car.seller_inventory_key}">
                        <br/><i class="text-muted carNumber"><em><f:translate key="tx_cardealer_domain_model_car.sellerInventoryKey" />: {car.seller_inventory_key}</em></i>
                    </f:if>
                </div>
            </div>
        </div>


        <div class="item">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="toggleNext">
                        <span class="open pull-right float-right">
                            <f:render arguments="{width: '40', height: '40', color: '{settings.icons_color}'}"
                                      partial="Svg/ChevronRight"/>
                        </span>
                        <span class="close pull-right float-right">
                            <f:render arguments="{width: '20', height: '20', color: '{settings.icons_color}'}"
                                      partial="Svg/Close"/>
                        </span>
                        <f:translate key="tx_cardealer_pi1_show.header.technical" /></h3>
                </div>
            </div>
            <div class="toggleContent row">
                <div class="col-sm-4">
                    <dl>
                        <f:format.raw>
                            <custom:getspecifics addUid="{car.uid}"/>
                        </f:format.raw>
                    </dl>
                </div>
                <div class="col-sm-4">
                    <dl>
                        <f:format.raw>
                            <custom:getconsumptions addUid="{car.uid}"/>
                        </f:format.raw>
                    </dl>
                </div>
                <div class="col-sm-4">
                    <f:if condition="{car.efficiencyClass}">
                        <f:then>
                            <b>CO2-Effizienz:</b><br/>
                            <f:image class="effClassImg" maxWidth="300" maxHeight="200"
                                     src="typo3conf/ext/cardealer/Resources/Public/Img/{car.efficiencyClass}.png"
                                     alt="{car.efficiencyClass}" title="{car.efficiencyClass}" />
                        </f:then>
                    </f:if>
                </div>

                <div class="col-md-12 dat-hinweis">
                    <p class="text-muted"><f:format.html><f:translate key="tx_cardealer_domain_model_car.dat_hint" /></f:format.html></p>
                </div>
            </div>
        </div>


        <div class="item">

            <div class="row">
                <div class="col-sm-12">
                    <h3 class="toggleNext">
                        <span class="open pull-right float-right">
                                <f:render arguments="{width: '40', height: '40', color: '{settings.icons_color}'}"
                                          partial="Svg/ChevronRight"/>
                            </span>
                        <span class="close pull-right float-right">
                                <f:render arguments="{width: '20', height: '20', color: '{settings.icons_color}'}"
                                          partial="Svg/Close"/>
                            </span>
                        <f:translate key="tx_cardealer_pi1_show.header.equipment" /></h3>
                </div>
            </div>
            <div class="toggleContent row">
                <div class="col-sm-3">
                    <strong><f:translate key="tx_cardealer_pi1_show.label.interior" /></strong>
                    <ul>
                        <f:format.raw>
                            <custom:getinteriordata addUid="{car.uid}"/>
                        </f:format.raw>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <strong><f:translate key="tx_cardealer_pi1_show.label.exterior" /></strong>
                    <ul>
                        <f:format.raw>
                            <custom:getexteriordata addUid="{car.uid}"/>
                        </f:format.raw>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <strong><f:translate key="tx_cardealer_pi1_show.label.extras" /></strong>
                    <ul>
                        <f:format.raw>
                            <custom:getextradata addUid="{car.uid}"/>
                        </f:format.raw>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <strong><f:translate key="tx_cardealer_pi1_show.label.security_and_environment" /></strong>
                    <ul>
                        <f:format.raw>
                            <custom:getsecurityenvironment addUid="{car.uid}"/>
                        </f:format.raw>
                    </ul>
                </div>
            </div>
        </div>


        <div class="item">

            <div class="row">
                <div class="col-sm-12">
                    <h3 class="toggleNext">
                        <span class="open pull-right float-right">
                                <f:render arguments="{width: '40', height: '40', color: '{settings.icons_color}'}"
                                          partial="Svg/ChevronRight"/>
                            </span>
                        <span class="close pull-right float-right">
                                <f:render arguments="{width: '20', height: '20', color: '{settings.icons_color}'}"
                                          partial="Svg/Close"/>
                            </span>
                        <f:translate key="tx_cardealer_pi1_show.header.description" /></h3>
                </div>
            </div>
            <div class="toggleContent row">
                <div class="description col-sm-12">
                    <f:format.raw>
                        <custom:description value="{car.description}"/>
                    </f:format.raw>
                </div>
            </div>
        </div>


    </div>

</f:section>

</html>
