<f:layout name="SystemEmail"/>
<f:section name="Title">{record.title}</f:section>
<f:section name="Main">

    <p>Sehr geehrte{f:if(condition: "{salutation} == 'Herr'", then: 'r')} {salutation} {lastname},</p>
    <p>Vielen Dank für Ihr Interesse an den Produkten und den Dienstleistungen unseres Autohauses.</p>
    <p>Sehr gerne nehmen wir uns Ihrem Anliegen an und werden uns baldmöglichst mit Ihnen in Verbindung setzen.</p>
    <p>Einer unserer Mitarbeiter wird sich in Kürze bei Ihnen melden.</p>
    <p>Uns wurde folgender Inhalt übermittelt:</p>
    <hr />
    Ihre persönlichen Angaben:<br />
    Anrede: {salutation}<br />
    Vorname: {firstname}<br />
    Nachname: {lastname}<br />
    Email: {email}<br />
    Telefon: {phone}<br />
    AGB bestätigt: {terms}<br />
    Datenschutzbestimmungen bestätigt: {privacy}<br />
    Nachricht: <f:format.nl2br>{message}</f:format.nl2br>
    <hr />
    Fahrzeug:<br />
    <f:format.nl2br>{vehicle}</f:format.nl2br>
    <hr />
    Freundliche Grüße<br />
    Ihr Autohaus
</f:section>
